# Functions: Task 1

In [1]:
#subtask 1 and 2
def calculate_evaporation(temp=37,humid=45):
 '''a function to calculate evaporation 

 parameters:

 1. temp in celcius
 
 2. humid in percentage'''
 return 0.5*(temp+25)*(100-humid)

In [2]:
print(calculate_evaporation())
print(calculate_evaporation(20,30))
print(calculate_evaporation(10)) #took temp as 10
print(calculate_evaporation(temp=calculate_evaporation.__defaults__[0],humid=50))#kept temp as the default value and changed humidity.

1705.0
1575.0
962.5
1550.0

In [3]:
#SUBTASK 3

# Global variable
counter = 0
def update_counter():
    global counter
    print("Global counter before increment:", counter)
    counter += 1
    print("Global counter after increment:", counter)
    counter1 = 10
    print("Local counter inside function:", counter1)
update_counter()
try:
  print("Global counter outside function:", counter)
  print("Local counter outside the function: ",counter1)
except:
   print(f"Local counter outside the function: {"tHe LoCaL VaRiBaLe CaNnOt bE ShOwN OuTsIdE ThE FuNcTiOn bLoCk!!!!"}")

Global counter before increment: 0
Global counter after increment: 1
Local counter inside function: 10
Global counter outside function: 1
Local counter outside the function: tHe LoCaL VaRiBaLe CaNnOt bE ShOwN OuTsIdE ThE FuNcTiOn bLoCk!!!!

In [37]:
#Subtask 4
import numpy as np
def scale_censor_data(data):
    return np.clip([10*data[i] for i in range(len(data))],0.01,50)
print(scale_censor_data(np.linspace(0,0.0016,10)))
def normalize_data(array):
    min_val = np.min(array)
    max_val = np.max(array)
    normalized_array = (array - min_val) / (max_val - min_val)
    return normalized_array
def logsinh_transformation(normalized_array, transformation_func):
    transformed_array = transformation_func(normalized_array)
    return transformed_array

[0.01       0.01       0.01       0.01       0.01       0.01
 0.01066667 0.01244444 0.01422222 0.016     ]

In [5]:
#Subtask 5
calculate_evaporation.__doc__

'a function to calculate evaporation \n\n parameters:\n\n 1. temp in celcius\n \n 2. humid in percentage'

# Pandas: Task 2

In [6]:
import pandas as pd
import numpy as np

In [7]:
#subtask 1.1 and 1.4
date=pd.date_range(start='2024-03-31', end='2026-03-31')
date_3=pd.date_range(start='2024-03-31',end='2026-03-31',freq='3H')
synthetic_data={'temp':np.random.uniform(10, 35, size=len(date)),'prcp':np.random.uniform(10,100,size=len(date)),'RH':np.random.uniform(30, 90, size=len(date))}
synthetic_data_3={'temp':np.random.uniform(10, 35, size=len(date_3)),'prcp':np.random.uniform(10,100,size=len(date_3)),'RH':np.random.uniform(30, 90, size=len(date_3))}
df1=pd.DataFrame(synthetic_data,index=date)
df3=pd.DataFrame(synthetic_data_3,index=date_3)
#df1=df1.transpose()
#df3=df3.transpose()
df1

                 temp       prcp         RH
2024-03-31  33.283755  10.239125  40.265793
2024-04-01  28.480952  67.122924  71.051840
2024-04-02  22.628541  48.611126  41.420002
2024-04-03  27.790672  48.651929  68.472223
2024-04-04  21.266198  22.206833  50.078526
...               ...        ...        ...
2026-03-27  15.678128  92.285833  43.661296
2026-03-28  32.606218  32.747711  54.590093
2026-03-29  19.193689  67.747030  87.452940
2026-03-30  20.951316  64.047836  35.589501
2026-03-31  19.291888  52.955513  84.952416

[731 rows x 3 columns]

In [8]:
df3

                          temp       prcp         RH
2024-03-31 00:00:00  10.195048  79.984561  74.590350
2024-03-31 03:00:00  32.736377  81.646436  81.972265
2024-03-31 06:00:00  15.319192  60.646714  60.351561
2024-03-31 09:00:00  20.140858  96.108423  86.812711
2024-03-31 12:00:00  25.871919  65.005508  42.474900
...                        ...        ...        ...
2026-03-30 12:00:00  16.352387  79.507676  64.309642
2026-03-30 15:00:00  22.037798  56.710566  44.244305
2026-03-30 18:00:00  18.425468  20.008557  81.978693
2026-03-30 21:00:00  27.045887  29.455792  50.605979
2026-03-31 00:00:00  33.627594  58.436853  77.327043

[5841 rows x 3 columns]

In [9]:
#subtask 1.2 and 1.3.
df2=df1.copy()
df2['evaporation']=[calculate_evaporation(df1['temp'][i],df1['RH'][i]) for i in date]
df2

                 temp       prcp         RH  evaporation
2024-03-31  33.283755  10.239125  40.265793  1740.766941
2024-04-01  28.480952  67.122924  71.051840   774.087577
2024-04-02  22.628541  48.611126  41.420002  1395.039894
2024-04-03  27.790672  48.651929  68.472223   832.186263
2024-04-04  21.266198  22.206833  50.078526  1154.838381
...               ...        ...        ...          ...
2026-03-27  15.678128  92.285833  43.661296  1145.876519
2026-03-28  32.606218  32.747711  54.590093  1307.946507
2026-03-29  19.193689  67.747030  87.452940   277.250436
2026-03-30  20.951316  64.047836  35.589501  1479.873581
2026-03-31  19.291888  52.955513  84.952416   333.242959

[731 rows x 4 columns]

In [10]:
#subtask 2
df1.to_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\synthetic_data_2yrs.csv',index=False)
df2.to_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\evap_combined.csv',index=False)
df3.to_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\synthetic_data_3hrly.csv',index=False)
df11=pd.read_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\synthetic_data_2yrs.csv')
df22=pd.read_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\evap_combined.csv')
df33=pd.read_csv(r'C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IISERB docs\workshoop assignments\answers\synthetic_data_3hrly.csv')

In [11]:
df11

          temp       prcp         RH
0    33.283755  10.239125  40.265793
1    28.480952  67.122924  71.051840
2    22.628541  48.611126  41.420002
3    27.790672  48.651929  68.472223
4    21.266198  22.206833  50.078526
..         ...        ...        ...
726  15.678128  92.285833  43.661296
727  32.606218  32.747711  54.590093
728  19.193689  67.747030  87.452940
729  20.951316  64.047836  35.589501
730  19.291888  52.955513  84.952416

[731 rows x 3 columns]

In [12]:
df22

          temp       prcp         RH  evaporation
0    33.283755  10.239125  40.265793  1740.766941
1    28.480952  67.122924  71.051840   774.087577
2    22.628541  48.611126  41.420002  1395.039894
3    27.790672  48.651929  68.472223   832.186263
4    21.266198  22.206833  50.078526  1154.838381
..         ...        ...        ...          ...
726  15.678128  92.285833  43.661296  1145.876519
727  32.606218  32.747711  54.590093  1307.946507
728  19.193689  67.747030  87.452940   277.250436
729  20.951316  64.047836  35.589501  1479.873581
730  19.291888  52.955513  84.952416   333.242959

[731 rows x 4 columns]

In [13]:
df33

           temp       prcp         RH
0     10.195048  79.984561  74.590350
1     32.736377  81.646436  81.972265
2     15.319192  60.646714  60.351561
3     20.140858  96.108423  86.812711
4     25.871919  65.005508  42.474900
...         ...        ...        ...
5836  16.352387  79.507676  64.309642
5837  22.037798  56.710566  44.244305
5838  18.425468  20.008557  81.978693
5839  27.045887  29.455792  50.605979
5840  33.627594  58.436853  77.327043

[5841 rows x 3 columns]

In [14]:
#subtask 3.1
import datetime as dt
df11.isna().sum() # the data has no missing values.
df11.describe() # gives a statistical sumamry of the data 
df11.info() # gives the information of the columns, i.e non-null counts and dtypes.
df11['date']=pd.to_datetime(date)
group=df11.groupby(df11['prcp']).mean()
group['RH'].sort_values()
df11['month']=df11['date'].dt.month #same can be done for days and days of the week

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    731 non-null    float64
 1   prcp    731 non-null    float64
 2   RH      731 non-null    float64
dtypes: float64(3)
memory usage: 17.3 KB

In [15]:
# subtask 3.2
max_evap=df22['evaporation'].max()
max_evap_date=df22[df22['evaporation'] == max_evap].iloc[0]
print("the date at which evap was maximum:\n",max_evap_date)

the date at which evap was maximum:
 temp             33.819366
prcp             92.878125
RH               30.278887
evaporation    2050.475819
Name: 707, dtype: float64

In [16]:
df22

          temp       prcp         RH  evaporation
0    33.283755  10.239125  40.265793  1740.766941
1    28.480952  67.122924  71.051840   774.087577
2    22.628541  48.611126  41.420002  1395.039894
3    27.790672  48.651929  68.472223   832.186263
4    21.266198  22.206833  50.078526  1154.838381
..         ...        ...        ...          ...
726  15.678128  92.285833  43.661296  1145.876519
727  32.606218  32.747711  54.590093  1307.946507
728  19.193689  67.747030  87.452940   277.250436
729  20.951316  64.047836  35.589501  1479.873581
730  19.291888  52.955513  84.952416   333.242959

[731 rows x 4 columns]

In [17]:
# subtask 4.1
import random 
df2['date']=pd.to_datetime(date)
df2.index=[i for i in range(731)]
for i in range(3):
    df2['prcp'][random.randint(0,730)]=np.nan
for i in range(5):
    df2['temp'][random.randint(0,730)]=np.nan
for i in range(2):
    df2['temp'][random.randint(0,730)]=np.inf
    df2['evaporation'][random.randint(0,730)]=-np.inf
df2

C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['prcp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['prcp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['prcp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.nan
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.inf
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['evaporation'][random.randint(0,730)]=-np.inf
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['temp'][random.randint(0,730)]=np.inf
C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\450498349.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['evaporation'][random.randint(0,730)]=-np.inf

          temp       prcp         RH  evaporation       date
0    33.283755  10.239125  40.265793  1740.766941 2024-03-31
1    28.480952  67.122924  71.051840   774.087577 2024-04-01
2    22.628541  48.611126  41.420002  1395.039894 2024-04-02
3    27.790672  48.651929  68.472223   832.186263 2024-04-03
4    21.266198  22.206833  50.078526  1154.838381 2024-04-04
..         ...        ...        ...          ...        ...
726  15.678128  92.285833  43.661296  1145.876519 2026-03-27
727  32.606218  32.747711  54.590093  1307.946507 2026-03-28
728  19.193689  67.747030  87.452940   277.250436 2026-03-29
729  20.951316  64.047836  35.589501  1479.873581 2026-03-30
730  19.291888  52.955513  84.952416   333.242959 2026-03-31

[731 rows x 5 columns]

In [18]:
df2.isna().sum()

temp           5
prcp           3
RH             0
evaporation    0
date           0
dtype: int64

In [19]:
#what to do ?
inf_count = df2.applymap(np.isinf).sum()

C:\Users\vvagh\AppData\Local\Temp\ipykernel_1596\4160304210.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  inf_count = df2.applymap(np.isinf).sum()

TypeError: ufunc 'isinf' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [20]:
#subtask 4.2
df2['temp'].fillna(df2['temp'].mean())

0      33.283755
1      28.480952
2      22.628541
3      27.790672
4      21.266198
         ...
726    15.678128
727    32.606218
728    19.193689
729    20.951316
730    19.291888
Name: temp, Length: 731, dtype: float64

In [21]:
df2['prcp'].fillna(0)

0      10.239125
1      67.122924
2      48.611126
3      48.651929
4      22.206833
         ...
726    92.285833
727    32.747711
728    67.747030
729    64.047836
730    52.955513
Name: prcp, Length: 731, dtype: float64

In [22]:
#subtask 5.1
df11['date'].dtype
df11['date']=pd.to_datetime(df11['date'],errors='coerce')
df11['date'].dtype

dtype('<M8[ns]')

In [23]:
#subtask 5.2
df11['month']=df11['date'].dt.month
df11['day']=df11['date'].dt.day
df11

          temp       prcp         RH       date  month  day
0    33.283755  10.239125  40.265793 2024-03-31      3   31
1    28.480952  67.122924  71.051840 2024-04-01      4    1
2    22.628541  48.611126  41.420002 2024-04-02      4    2
3    27.790672  48.651929  68.472223 2024-04-03      4    3
4    21.266198  22.206833  50.078526 2024-04-04      4    4
..         ...        ...        ...        ...    ...  ...
726  15.678128  92.285833  43.661296 2026-03-27      3   27
727  32.606218  32.747711  54.590093 2026-03-28      3   28
728  19.193689  67.747030  87.452940 2026-03-29      3   29
729  20.951316  64.047836  35.589501 2026-03-30      3   30
730  19.291888  52.955513  84.952416 2026-03-31      3   31

[731 rows x 6 columns]

In [24]:
#subtask 5.3
df11['evap']=[calculate_evaporation(df11['temp'][i],df11['RH'][i]) for i in range(731)]
sorted=df11['evap'].sort_values()
sorted

690     199.307871
173     208.335597
246     209.340402
656     225.595525
86      232.982633
          ...
244    1959.253977
412    1967.399657
267    1976.499487
166    1991.176317
707    2050.475819
Name: evap, Length: 731, dtype: float64

In [26]:
#subtask 5.4
grouped=df11.groupby(df11['month'])['prcp'].sum()
grouped

month
1     3677.834950
2     3094.941719
3     3516.294077
4     3346.102359
5     3466.396851
6     3345.037293
7     3602.131262
8     3441.774498
9     3412.934011
10    3611.947122
11    3015.402443
12    3432.909161
Name: prcp, dtype: float64

In [28]:
#subtask 5.4
grouped1=df11.groupby(df11['month'])['temp'].sum()
grouped1

month
1     1389.180278
2     1189.139113
3     1414.729567
4     1410.010550
5     1484.194110
6     1316.517210
7     1351.922576
8     1433.138917
9     1380.835799
10    1525.915950
11    1265.828717
12    1281.235450
Name: temp, dtype: float64

In [29]:
#subtask 5.4
grouped2=df11.groupby(df11['month'])['evap'].sum()
grouped2

month
1     60378.186371
2     51924.160102
3     62468.344393
4     48376.783912
5     55420.879821
6     55375.509445
7     56437.872644
8     61125.743283
9     52510.964582
10    58225.330218
11    52825.951877
12    58318.716282
Name: evap, dtype: float64

In [30]:
df3

                          temp       prcp         RH
2024-03-31 00:00:00  10.195048  79.984561  74.590350
2024-03-31 03:00:00  32.736377  81.646436  81.972265
2024-03-31 06:00:00  15.319192  60.646714  60.351561
2024-03-31 09:00:00  20.140858  96.108423  86.812711
2024-03-31 12:00:00  25.871919  65.005508  42.474900
...                        ...        ...        ...
2026-03-30 12:00:00  16.352387  79.507676  64.309642
2026-03-30 15:00:00  22.037798  56.710566  44.244305
2026-03-30 18:00:00  18.425468  20.008557  81.978693
2026-03-30 21:00:00  27.045887  29.455792  50.605979
2026-03-31 00:00:00  33.627594  58.436853  77.327043

[5841 rows x 3 columns]

In [32]:
#subtask 5.5
df33_12hourly = df3.resample('12H').sum()
df33_12hourly

                           temp        prcp          RH
2024-03-31 00:00:00   78.391476  318.386133  303.726888
2024-03-31 12:00:00   92.993035  205.825007  185.420640
2024-04-01 00:00:00  123.229420  229.904553  216.394218
2024-04-01 12:00:00   88.962702  154.912703  238.738013
2024-04-02 00:00:00   91.674199  159.038601  256.805345
...                         ...         ...         ...
2026-03-29 00:00:00   72.930360  217.328228  254.809356
2026-03-29 12:00:00  105.274341  201.443835  258.535188
2026-03-30 00:00:00   68.464248  294.535385  209.616447
2026-03-30 12:00:00   83.861540  185.682591  241.138619
2026-03-31 00:00:00   33.627594   58.436853   77.327043

[1461 rows x 3 columns]

In [33]:
#subtask 5.6 
df33_6hrly=df33_12hourly.resample('6H').interpolate()
df33_6hrly

                           temp        prcp          RH
2024-03-31 00:00:00   78.391476  318.386133  303.726888
2024-03-31 06:00:00   85.692255  262.105570  244.573764
2024-03-31 12:00:00   92.993035  205.825007  185.420640
2024-03-31 18:00:00  108.111227  217.864780  200.907429
2024-04-01 00:00:00  123.229420  229.904553  216.394218
...                         ...         ...         ...
2026-03-30 00:00:00   68.464248  294.535385  209.616447
2026-03-30 06:00:00   76.162894  240.108988  225.377533
2026-03-30 12:00:00   83.861540  185.682591  241.138619
2026-03-30 18:00:00   58.744567  122.059722  159.232831
2026-03-31 00:00:00   33.627594   58.436853   77.327043

[2921 rows x 3 columns]

In [36]:
#subtask 5.7
df33_6hourly_direct = df3.resample('6H').sum()
precipitation_diff_sum = df33_6hourly_direct['prcp'].diff().sum()
precipitation_diff_sum #total difference.

-103.19414301665402